/ %h1 Sign up

.ui.main.text.container
  = form_for @user, :html => {:class => "ui form"} do |f|
    .field
      = f.label :username
      = f.text_field :username
    .field
      = f.label :email
      = f.email_field :email
    .field
      = f.label :password
      = f.password_field :password
    = f.submit "Create my account", :class => 'ui button'


/ %form
/   .field
/     %label First Name
/     %input{:name => "first-name", :placeholder => "First Name", :type => "text"}/
/   .field
/     %label Last Name
/     %input{:name => "last-name", :placeholder => "Last Name", :type => "text"}/
/   %button.ui.button{:type => "submit"} Submit
