.ui.main.text.container
  %h1.ui.header
    = @user.username
  .ui.divided.items
    - @user.created_games.each do |game|
      .item
        .image
          %img{:src => "https:#{game.thumbnail}"}/
        .content
          %a.header= game.name
          .meta
            %span.cinema= game.year_published
          .description
            %p=raw game.description
          .extra
          - game.tags.each do |tag|
            .ui.label= tag.name
            - game.comments.each do |comment|
              .ui.comments
                .content
                  %a.author= comment.author
                  .text
                    %p= comment.body              
  %h3 friends list             
  - @user.relationships.each do |relationship|
    = get_username(relationship.user_id_2)
    %br  
  = form_for @user.relationships.build do |f|
    = f.hidden_field :user_id, value: current_user.id
    = f.hidden_field :user_id_2, value: @user.id
    = f.submit value="add friend"
      
          