.ui.main.text.container
  %h1.ui.header
    = @user.username
  .ui.divided.items
    - @user.created_games.each do |game|
      .item
        .image
          %img{:src => "https:#{game.thumbnail}"}/
        .content
          %a.header= game.name
          .meta
            %span.cinema= game.year_published
          .description
            %p=raw game.description
          .extra
        =form_for(:comment, url: comments_path, :html => {:class => "ui form"} ) do |f|
          = f.label :body
          = f.text_field :body
          = f.label :author
          = f.text_field :author
          = f.submit "Comment", :class => 'ui button'
          %button.ui.inverted.violet.button View Game
          - game.tags.each do |tag|
            .ui.label= tag.name
            - game.comments.each do |comment|
              .ui.comments
                .content
                  %a.author= comment.author
                  .text
                    %p= comment.body
