.ui.main.text.container
  %h1.ui.header
    = @user.username
  %h2 
    Comments
  - @user.comments.each do |comment|
    .ui.comments
      .content
        %a.author= comment.author
        .text
          %p= comment.body
  =form_for(:comment, url: comments_path, :html => {:class => "ui form"} ) do |f|
    = f.label :body
    = f.text_field :body
    = f.label :author
    = f.text_field :author
    = f.submit "Comment", :class => 'ui button'
  %h2
    user created games
  .ui.divided.items
    - @user.created_games.each do |game|
      .item
        .image
          %img{:src => "https:#{game.thumbnail}"}/
        .content
          %a.header= game.name
          .meta
            %span.cinema= game.year_published
          .description
            %p=raw game.description
          .extra
          - game.tags.each do |tag|
            .ui.label= tag.name
          %button.ui.inverted.violet.button View Game
