.ui.main.text.container
  %h1.ui.header
    = @user.username
  .ui.divided.items
    - @user.created_games.each do |game|
      .item
        .image
          %img{:src => "https:#{game.thumbnail}"}/
        .content
          %a.header= game.name
          .meta
            %span.cinema= game.year_published
          .description
            %p=raw game.description
          .extra
          - game.tags.each do |tag|
            .ui.label= tag.name
            - game.comments.each do |comment|
              .ui.comments
                .content
                  %a.author= comment.author
                  .text
                    %p= comment.body
          -# .ui.form
          -#   .field
          -#     %br
          -#     %label Comment Here:
          -#     %textarea{:rows => "2"}

          -# = form_for(:comments, url: new_comment_path) do |f|
          -#   = f.label :body
          -#   = f.text_field :body
          -#   = f.label :author
          -#   = f.password_field :author_id
          -#   -# = f.submit "comment!"
          %button.ui.inverted.violet.button View Game
          - link_to comment_path