.ui.main.text.container
  .ui.divided.items
    .item
      .image
        %img{:src => "https:#{@game.thumbnail}"}/
      .content
        %a.header= @game.name
        .meta
          %span.cinema Union Square 14
        .description
          %p= raw @game.description
        .extra
        =form_for(:comment, url: comments_path, :html => {:class => "ui form"} ) do |f|
          = f.label :body
          = f.text_field :body
          = f.label :author
          = f.text_field :author
          = f.submit "Comment", :class => 'ui button'
        %button.ui.inverted.violet.button View Game
        - @game.tags.each do |tag|
          .ui.label= tag.name
      .ui.form
