.ui.main.text.container
  .ui.divided.items
    .item
      .image
        %img{:src => "https:#{@game.thumbnail}"}/
      .content
        %a.header= @game.name
        .meta
          %span.cinema Union Square 14
        .description
          %p= raw @game.description
        .extra
          - @game.comments.each do |comment|
            %h2 Comment Body:
            %p= comment.body
            %h2= comment.author.username

        =form_for([@game, Comment.new], :html => {:class => "ui form"} ) do |f|
          = f.label :body
          = f.text_field :body
          = f.submit "Comment", :class => 'ui button'
        - @game.tags.each do |tag|
          .ui.label= tag.name
