- if current_user
  .ui.main.text.container
    = link_to "Home", games_path
    = link_to "Profile", user_path(@current_user)
    = link_to "Log out", logout_path
- else
  .ui.main.text.container
    = link_to "Home", games_path
    = link_to "Log in", login_path, id: "login"
    = link_to "Register", new_user_path, id: "register"


=render 'users/modal_form'
=render 'users/modal_register'

